/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #121212;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 28px 0;
}

.nav__container {
    background-color: #0D0D0D;
    width: 100%;
}

.logo {
    height: 64px;
    width: auto;
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav__link {
    color: #FFFFFF;
    transition: color 300ms ease;
}

.nav__link:hover {
    color: #FF3C3C;
}

.nav__link--primary {
    color: #FFFFFF;
    background-color: #E50914;
    border-radius: 24px;
    padding: 12px 24px;
    transition: background-color 300ms ease-in-out;
}

.nav__link--primary:hover {
    background-color: #fd7a7a;
    color: #FFFFFF;
}